<!DOCTYPE html>

<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Bagpackers Partner Login | The Travel Square</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Bootstrap Core CSS -->
<link href="/partner-login_files/bootstrap.min.css" rel="stylesheet" type="text/css">
<!-- Custom CSS -->
<link href="/partner-login_files/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/partner-login_files/morris.css" type="text/css">
<!-- Graph CSS -->
<link href="/partner-login_files/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="/partner-login_files/jquery-ui.css"> 
<!-- jQuery -->
<script src="/partner-login_files/jquery-2.1.4.min.js.download"></script>
<!-- //jQuery -->
<!-- lined-icons -->
<link rel="stylesheet" href="/partner-login_files/icon-font.min.css" type="text/css">
<!-- //lined-icons -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

</head> 
<body>
	
   
	<div class="main-wthree" style="background:white">
	<div class="container">
	
	<div class="sin-w3-agile">
	<center><img src="/partner-login_files/logo.png" width="15%"></center>
		<h2><font color="black">Institution Partner Login</font></h2>
		<form action="/college/login" method="POST">
			<div class="username">
				<span class="username">Institution ID:</span>
				<input type="text" name="username" class="name"  placeholder="" required="">
				<!-- <div class="clearfix"></div> -->
			</div>
			<div class="password-agileits">
				<span class="username">Password:</span>
				<input type="password" name="password" class="password" placeholder="" required="">
				<!-- <div class="clearfix"></div> -->
			</div>
			<div class="login-w3">
				<input type="submit" class="login" value="Sign In">
			</div>
			<!-- <div class="clearfix"></div> -->
		</form>
<!-- <a href="partner-dashboard.html">Sign In</a> -->
	</div>     
	</div>
	</div>
	
	<script type="text/javascript" src="/app.js"></script>


<script type="text/javascript" async="" src="/partner-login_files/1f9f5ee62aefca3cb1.js.download"></script>
</body>
</html>