<!DOCTYPE html>

<html class=" js flexbox canvas canvastext webgl touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths js flexbox canvas canvastext webgl touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths"><!--<![endif]--><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Page Title -->
    <title>Partners Bookings | Travel Sqaure</title>
    
    <!-- Meta Tags -->
    
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Travel Beans">
    <meta name="description" content="">
    <meta name="distribution" content="global">
    <meta name="country" content="india">
    <meta name="copyright" content="The Travel Square">
    <meta name="revisit-after" content="1 hour">
    <meta name="designer" content="The Travel Square">
    <meta name="language" content="english">
    <meta name="robots" content="index, follow">
    <meta name="rating" content="general">
    <meta name="publisher" content="The Travel Square">

    <meta property="og:title" content="The Travel Square">
    <meta property="og:description" content="The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
    <meta property="og:image" content="">
  
    <meta name="twitter:card" content="The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
  
    <meta name="keywords" content="The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
    <meta name="format-detection" content="7428558566">
    
  
    <link rel="stylesheet" href="./Partners Screening Form_files/bootstrap.min.css">
    <link rel="stylesheet" href="./Partners Screening Form_files/font-awesome.min.css">
    <link href="./Partners Screening Form_files/css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="./Partners Screening Form_files/animate.min.css">
    

	
    <script type="text/javascript">
        var mainStyle = "style.css";
        if (typeof localStorage != "undefined") {
            var colorSkin = localStorage.getItem("colorSkin");
            if (colorSkin != null) {
                mainStyle = "style-" + colorSkin + ".css";
            }
        }
        document.write('<link id="main-style" rel="stylesheet" href="css/' + mainStyle + '">');
    </script><link id="main-style" rel="stylesheet" href="file:///D:/Office/Company%20Data/Travel%20Beans/Website/Login/css/style-dark-orange.css"><link id="main-style" rel="stylesheet" href="./Partners Screening Form_files/style-light-yellow.css">
    
    <!-- Updated Styles -->
    <link rel="stylesheet" href="./Partners Screening Form_files/updates.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="./Partners Screening Form_files/custom.css">
    
    <!-- Responsive Styles -->
    <link rel="stylesheet" href="./Partners Screening Form_files/responsive.css">
    
   
</head>
<body>
    <div id="page-wrapper">
        <header id="header" class="navbar-static-top">
            <div class="topnav hidden-xs">
                <div class="container">
                    <ul class="quick-menu pull-left">
                        <li><a href="http://www.thetravelsqaure.com">THE TRAVEL SQAURE</a></li>
                        <li><a href="http://www.travelbeans.in">TRAVEL BEANS</a></li>
                    </ul>
                    <ul class="quick-menu pull-right">
                        <li class="ribbon">
                            <a href="">Jessica Brown</a>
                            <ul class="menu mini uppercase left">
                                <li><a href="" class="location-reload">Dashboard</a></li>
                                <li><a href="" class="location-reload">Profile</a></li>
                                <li><a href="" class="location-reload">Bookings</a></li>
                                <li><a href="" class="location-reload">Settings</a></li>
                                <li><a href="">Signout</a></li>
                            </ul>
                        </li>
                        <li class="ribbon currency">
                            <a href="" title="">INR</a>
                            <ul class="menu mini left">
                                
                                <li><a href="" title="IDR">IDR</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="main-header">
                
                <a href="http://www.soaptheme.net/html/travelo/dashboard1.html#mobile-menu-01" data-toggle="collapse" class="mobile-menu-toggle">
                    Menu
                </a>

                <div class="container">
                    <h1 class="logo navbar-brand">
                        <a href="http://www.thetravelsqaure.com" title="The Travel Sqaure">
                            <img src="images/.png" alt="The Travel Sqaure by Travel Beans">
                        </a>
                    </h1>
                    
                    <nav id="main-menu" role="navigation">
                        <ul class="menu">
                            <li class="menu-item-has-children">
                                <a href="http://www.thetravelsquare.in/Partner-Dashboard.php">Home</a>
                                <ul>
                                </ul>
                            </li>
							<li class="menu-item-has-children">
                                <a href="http://www.thetravelsquare.in/Hotels">Hotels</a>
                                <ul>
                                </ul>
                            </li>
                           <li class="menu-item-has-children">
                                <a href="http://www.thetravelsquare.in/Cabs">Cabs</a>
                                <ul>
                                </ul>
                            </li>
                           <li class="menu-item-has-children">
                                <a href="http://www.thetravelsquare.in/Packages">Packages</a>
                                <ul>
                                </ul>
                            </li>
                            
                            
                        </ul>
                    </nav>
                </div>
                
                <nav id="mobile-menu-01" class="mobile-menu collapse">
                    <ul id="mobile-primary-menu" class="menu">
                        <li class="menu-item-has-children">
                            <a href="http://www.thetravelsqaure.com/">Home</a><button class="dropdown-toggle collapsed" data-toggle="collapse" data-target="#mobile-menu-submenu-item-0"></button>
                            
                        </li>
                        <li class="menu-item-has-children">
                            <a href="http://www.travelbeans.in/hotel">Hotels</a><button class="dropdown-toggle collapsed" data-toggle="collapse" data-target="#mobile-menu-submenu-item-2"></button>
                        </li>
                       
                        
                            
                        
                        
                    </ul>
                    
                    <ul class="mobile-topnav container">
                        <li><a href="">MY ACCOUNT</a></li>
                        <li class="ribbon language menu-color-skin">
                            <a href="" data-toggle="collapse">ENGLISH</a>
                            <ul class="menu mini" style="">
                            </ul>
                        </li>
                        <li><a href="travelo-login" class="soap-popupbox">LOGIN</a></li>
                        <li><a href="travelo-signup" class="soap-popupbox">SIGNUP</a></li>
                        <li class="ribbon currency menu-color-skin">
                            <a href="">USD</a>
                            <ul class="menu mini" style="">
                            </ul>
                        </li>
                    </ul>
                    
                </nav>
				
				
            </div>
            <div id="travelo-signup" class="travelo-signup-box travelo-box">
                <div class="login-social">
                    <a href="" class="button login-facebook"><i class="soap-icon-facebook"></i>Login with Facebook</a>
                    <a href="" class="button login-googleplus"><i class="soap-icon-googleplus"></i>Login with Google+</a>
                </div>
                <div class="seperator"><label>OR</label></div>
                <div class="simple-signup">
                    <div class="text-center signup-email-section">
                        <a href="http://www.soaptheme.net/html/travelo/dashboard1.html#" class="signup-email"><i class="soap-icon-letter"></i>Sign up with Email</a>
                    </div>
                    <p class="description">By signing up, I agree to Travelo's Terms of Service, Privacy Policy, Guest Refund olicy, and Host Guarantee Terms.</p>
                </div>
                <div class="email-signup">
                    <form>
                        <div class="form-group">
                            <input type="text" class="input-text full-width" placeholder="first name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="input-text full-width" placeholder="last name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="input-text full-width" placeholder="email address">
                        </div>
                        <div class="form-group">
                            <input type="password" class="input-text full-width" placeholder="password">
                        </div>
                        <div class="form-group">
                            <input type="password" class="input-text full-width" placeholder="confirm password">
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Tell me about Travelo news
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="description">By signing up, I agree to Travelo's Terms of Service, Privacy Policy, Guest Refund Policy, and Host Guarantee Terms.</p>
                        </div>
                        <button type="submit" class="full-width btn-medium">SIGNUP</button>
                    </form>
                </div>
                <div class="seperator"></div>
                <p>Already a Travelo member? <a href="http://www.soaptheme.net/html/travelo/dashboard1.html#travelo-login" class="goto-login soap-popupbox">Login</a></p>
            </div>
            <div id="travelo-login" class="travelo-login-box travelo-box">
                <div class="login-social">
                    <a href="http://www.soaptheme.net/html/travelo/dashboard1.html#" class="button login-facebook"><i class="soap-icon-facebook"></i>Login with Facebook</a>
                    <a href="http://www.soaptheme.net/html/travelo/dashboard1.html#" class="button login-googleplus"><i class="soap-icon-googleplus"></i>Login with Google+</a>
                </div>
                <div class="seperator"><label>OR</label></div>
                <form>
                    <div class="form-group">
                        <input type="text" class="input-text full-width" placeholder="email address">
                    </div>
                    <div class="form-group">
                        <input type="password" class="input-text full-width" placeholder="password">
                    </div>
                    <div class="form-group">
                        <a href="http://www.soaptheme.net/html/travelo/dashboard1.html#" class="forgot-password pull-right">Forgot password?</a>
                        <div class="checkbox checkbox-inline">
                            <label>
                                <input type="checkbox"> Remember me
                            </label>
                        </div>
                    </div>
                </form>
                <div class="seperator"></div>
                <p>Don't have an account? <a href="http://www.soaptheme.net/html/travelo/dashboard1.html#travelo-signup" class="goto-signup soap-popupbox">Sign up</a></p>
            </div>
        </header>

        <div class="page-title-container">
            <div class="container">
                <div class="page-title pull-left">
                    <h2 class="entry-title">Partners Booking</h2>
                </div>
                <ul class="breadcrumbs pull-right">
                    <li><a href="">HOME</a></li>
                    <li><a href="">THE TRAVEL SQAURE</a></li>
                    <li class="active">Partners LTA</li>
                </ul>
            </div>
        </div>

        <section id="content">
            <div class="container">
			
			
			
                <div class="row">
                    <div id="main" class="col-sm-8 col-md-9">
					
					
					
                        <div class="travelo-box booking-section">
                            <form class="booking-form">
                                <div class="person-information">
                                    <h2>The Leela Ambience Convention Hotel , New Delhi</h2><br	>
									<p>Guest Details</p>
                                    <div class="form-group row">
                                        <div class="col-sm-6 col-md-5">
                                            <label>First Name</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="">
                                        </div>
                                        <div class="col-sm-6 col-md-5">
                                            <label>Last Name	</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="">
                                        </div>
                                    </div>
                                    
                                    <p>Please Enter the Details On Which the Voucher & Booking Details are to Be Shared</p>
									
									<div class="form-group row">
                                        <div class="col-sm-6 col-md-5">
                                            <label>E-mail Address</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="">
                                        </div>
                                        <div class="col-sm-6 col-md-5">
                                            <label>Contact Number</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="">
                                        </div>
                                    </div>
									
									
                                       </div>
                                <hr><br>
                                <div class="form-group row">
                                    <div class="col-sm-6 col-md-5">
                                        <button type="submit" class="full-width btn-large">PROCEED TO PAYMENT</button>
                                    </div>
									<label>You Will Not Be Charged Yet , Continue to Reach Payment Gateway</label>
   
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="sidebar col-sm-4 col-md-3">
                        
						<div class="travelo-box book-with-us-box">
                            <center><h4>Booking Details</h4></center>
                            <ul>
                                
								<li>
                                    <i class="soap-icon-support circle"></i>
                                    <h5 class="title"><a href="" class="skin-color">Booking Dates</a></h5>
                                    <p>Check In : 31-05-2019</p>
                                    <p>Check Out : 1-06-2019</p>
                                </li>
                                <li>
                                    <i class="soap-icon-savings circle"></i>
                                    <h5 class="title"><a href="" class="skin-color">Rooms & PAX</a></h5>
                                    <p>Rooms : 2</p>
                                    <p>Adults : 4 | Kids : 2</p>
                                </li>
								<li>
                                    <i class="soap-icon-hotel-1 circle"></i>
                                    <h5 class="title"><a href="" class="skin-color">Amount Payble</a></h5>
                                    <p>INR 11,000</p>
                                    <p>( Inclusive of All Taxes )</p>
                                </li>
                                
                            </ul>
                        </div>
                        <div class="travelo-box contact-box">
                            <center><h4>Need Some Help ?</h4>
                            <p>Our Travel Sqaure Executives Are Always Ready Help You 24/7 .</p>
                            <address class="contact-details">
                                <span class="contact-phone">+91-9560001807</span><br>
                                <br>
                                <a class="contact-email" href="">partnerhelp@travelsqaure.com</a>
                            </address></center>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
        
        <footer id="footer" class="style5">
            <div class="footer-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <h2>The Travel Square</h2>
                            <ul class="discover triangle hover row">
                                <li class="col-xs-6"><a href="http://www.travelbeans.in/About-Travel-Beans.html">About Company</a></li>
                                <li class="col-xs-6"><a href="http://www.travelbeans.in/Jobs.html">Jobs</a></li>
								<li class="col-xs-6"><a href="http://www.travelbeans.in/About-Travel-Beans.html">Corporate Offices</a></li>
                                <li class="col-xs-6"><a href="http://www.travelbeans.in/Jobs.html">Carrers</a></li>
                                <li class="col-xs-6"><a href="http://www.travelbeans.in/Legal.html">Legal Information</a></li>
                                <li class="col-xs-6"><a href="http://www.travelbeans.in/Press.html">Press Release</a></li>
                                <li class="col-xs-6"><a href="http://www.travelbeans.in/About-Travel-Beans.html">Investors</a></li>
                                <li class="col-xs-6"><a href="http://www.travelbeans.in/Legal.html">T & C</a></li>
                                <li class="col-xs-6"><a href="http://www.travelbeans.in/Customer-Care.html">Customer Care</a></li>
                                <li class="col-xs-6"><a href="http://www.travelbeans.in/Legal.html">Privacy Policies</a></li>
                                <li class="col-xs-6"><a href="http://www.travelbeans.in/Partner-Care.html">Partner Help</a></li>
                                <li class="col-xs-6"><a href="http://www.travelbeans.in/FAQ.html">FAQ's</a></li>
                                <li class="col-xs-6"><a href="http://www.travelbeans.in/Site-Map.html">Site Map</a></li>
                                <li class="col-xs-6"><a href="http://www.travelbeans.in/Contact-Us.html">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <h2>Other Products</h2>
                            <ul class="discover triangle hover row">
                                <li class="col-xs-"><a href="http://www.thetravelsquare.in/pro">The Travel Square Pro</a></li>
                                <li class="col-xs-"><a href="http://www.travelbeans.in/">Travel Beans</a></li>
                                <li class="col-xs-"><a href="http://www.signatureclubmembership.com/">Signature Club</a></li>
                                <li class="col-xs-"><a href="http://www.cruisader.com/">Cruisader</a></li>
                                <li class="col-xs-"><a href="http://www.cruisingindia.in/">Cruising India</a></li>
                                <li class="col-xs-"><a href="http://www.happenings.ind.in/">Happenings</a></li>
                                <li class="col-xs-"><a href="http://www.shoppist.me/">Shoppist</a></li>
                                <li class="col-xs-"><a href="http://www.indicoin.in/">Indi Coin</a></li>
                                
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <img src="images/Travel-Square-By-Travel-Beans.png">
                            <br>
                            
                            <br>
                            
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <h2>About Us</h2>
                            <p>The Company Established in 2018 is a White Lable Network of Local Travel Agent & Hotel Supplier for Better B2B Pricing .</p>
                            <br>
                            <address class="contact-details">
                                <center><a href="" class="contact-email">contact@thetravelsquare.in</a></center>
                            </address>
                            <ul class="social-icons clearfix">
                                <li class="twitter"><a title="" href="" data-toggle="tooltip" data-original-title="twitter"><i class="soap-icon-twitter"></i></a></li>
                                <li class="googleplus"><a title="" href="" data-toggle="tooltip" data-original-title="googleplus"><i class="soap-icon-googleplus"></i></a></li>
                                <li class="facebook"><a title="" href="" data-toggle="tooltip" data-original-title="facebook"><i class="soap-icon-facebook"></i></a></li>
                                <li class="linkedin"><a title="" href="" data-toggle="tooltip" data-original-title="linkedin"><i class="soap-icon-linkedin"></i></a></li>
                                <li class="vimeo"><a title="" href="" data-toggle="tooltip" data-original-title="vimeo"><i class="soap-icon-vimeo"></i></a></li>
                                <li class="dribble"><a title="" href="" data-toggle="tooltip" data-original-title="dribble"><i class="soap-icon-dribble"></i></a></li>
                                <li class="flickr"><a title="" href="" data-toggle="tooltip" data-original-title="flickr"><i class="soap-icon-flickr"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom gray-area">
                <div class="container">
                    
                    <div class="pull-right">
                        <a id="back-to-top" href="" class="animated bounce" data-animation-type="bounce" style="animation-duration: 1s; visibility: visible;"><i class="soap-icon-longarrow-up circle"></i></a>
                    </div>
                    <div class="copyright pull-right">
                        <p>© 2019 The Travel Square | Travel Beans</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
	


    <!-- Javascript -->
    <script type="text/javascript" src="./Partners Screening Form_files/jquery-1.11.1.min.js.download"></script>
    <script type="text/javascript" src="./Partners Screening Form_files/jquery.noconflict.js.download"></script>
    <script type="text/javascript" src="./Partners Screening Form_files/modernizr.2.7.1.min.js.download"></script>
    <script type="text/javascript" src="./Partners Screening Form_files/jquery-migrate-1.2.1.min.js.download"></script>
    <script type="text/javascript" src="./Partners Screening Form_files/jquery.placeholder.js.download"></script>
    <script type="text/javascript" src="./Partners Screening Form_files/jquery-ui.1.10.4.min.js.download"></script>
    
    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="./Partners Screening Form_files/bootstrap.js.download"></script>
    
    <!-- parallax -->
    <script type="text/javascript" src="./Partners Screening Form_files/jquery.stellar.min.js.download"></script>
    
    <!-- waypoint -->
    <script type="text/javascript" src="./Partners Screening Form_files/waypoints.min.js.download"></script>

    <!-- load page Javascript -->
    <script type="text/javascript" src="./Partners Screening Form_files/theme-scripts.js.download"></script>
    <script type="text/javascript" src="./Partners Screening Form_files/scripts.js.download"></script>
    


						
						</body></html>