<!DOCTYPE html>

<html class=" js flexbox canvas canvastext webgl touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths js flexbox canvas canvastext webgl touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths"><!--<![endif]--><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Page Title -->
    <title>Legal | The Travel Square</title>
    
    <!-- Meta Tags -->
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Travel Beans">
    <meta name="description" content="">
    <meta name="distribution" content="global">
    <meta name="country" content="india">
    <meta name="copyright" content="The Travel Square">
    <meta name="revisit-after" content="1 hour">
    <meta name="designer" content="The Travel Square">
    <meta name="language" content="english">
    <meta name="robots" content="index, follow">
    <meta name="rating" content="general">
    <meta name="publisher" content="The Travel Square">

    <meta property="og:title" content="The Travel Square">
    <meta property="og:description" content="The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
    <meta property="og:image" content="">
  
    <meta name="twitter:card" content="The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
  
    <meta name="keywords" content="The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
    <meta name="format-detection" content="7428558566">
    
  
    <link rel="stylesheet" href="./Partners Screening Form_files/bootstrap.min.css">
    <link rel="stylesheet" href="./Partners Screening Form_files/font-awesome.min.css">
    <link href="./Partners Screening Form_files/css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="./Partners Screening Form_files/animate.min.css">
    

	
    <script type="text/javascript">
        var mainStyle = "style.css";
        if (typeof localStorage != "undefined") {
            var colorSkin = localStorage.getItem("colorSkin");
            if (colorSkin != null) {
                mainStyle = "style-" + colorSkin + ".css";
            }
        }
        document.write('<link id="main-style" rel="stylesheet" href="css/' + mainStyle + '">');
    </script><link id="main-style" rel="stylesheet" href="file:///D:/Office/Company%20Data/Travel%20Beans/Website/Login/css/style-dark-orange.css"><link id="main-style" rel="stylesheet" href="./Partners Screening Form_files/style-light-yellow.css">
    
    <!-- Updated Styles -->
    <link rel="stylesheet" href="./Partners Screening Form_files/updates.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="./Partners Screening Form_files/custom.css">
    
    <!-- Responsive Styles -->
    <link rel="stylesheet" href="./Partners Screening Form_files/responsive.css">
    
   
</head>
<body>
    <div id="page-wrapper">
        <header id="header" class="navbar-static-top">
            <div class="topnav hidden-xs">
                <div class="container">
                    <ul class="quick-menu pull-left">
                        <li><a href="http://www.thetravelsqaure.com">THE TRAVEL SQAURE</a></li>
                        <li><a href="http://www.travelbeans.in">TRAVEL BEANS</a></li>
                    </ul>
                    <ul class="quick-menu pull-right">
                        <li class="ribbon">
                            <a href="">Jessica Brown</a>
                            <ul class="menu mini uppercase left">
                                <li><a href="" class="location-reload">Dashboard</a></li>
                                <li><a href="" class="location-reload">Profile</a></li>
                                <li><a href="" class="location-reload">Bookings</a></li>
                                <li><a href="" class="location-reload">Settings</a></li>
                                <li><a href="">Signout</a></li>
                            </ul>
                        </li>
                        <li class="ribbon currency">
                            <a href="" title="">INR</a>
                            <ul class="menu mini left">
                                
                                <li><a href="" title="IDR">IDR</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="main-header">
                
                <a href="http://www.soaptheme.net/html/travelo/dashboard1.html#mobile-menu-01" data-toggle="collapse" class="mobile-menu-toggle">
                    Menu
                </a>

                <div class="container">
                    <h1 class="logo navbar-brand">
                        <a href="http://www.thetravelsqaure.com" title="The Travel Sqaure">
                            <img src="images/.png" alt="The Travel Sqaure by Travel Beans">
                        </a>
                    </h1>
                    
                    <nav id="main-menu" role="navigation">
                        <ul class="menu">
                            <li class="menu-item-has-children">
                                <a href="http://www.soaptheme.net/html/travelo/index.html">Home</a>
                                <ul>
                                </ul>
                            </li>
                           
                           
                            
                            
                        </ul>
                    </nav>
                </div>
                
                <nav id="mobile-menu-01" class="mobile-menu collapse">
                    <ul id="mobile-primary-menu" class="menu">
                        <li class="menu-item-has-children">
                            <a href="http://www.thetravelsqaure.com/">Home</a><button class="dropdown-toggle collapsed" data-toggle="collapse" data-target="#mobile-menu-submenu-item-0"></button>
                            
                        </li>
                        <li class="menu-item-has-children">
                            <a href="http://www.travelbeans.in/hotel">Hotels</a><button class="dropdown-toggle collapsed" data-toggle="collapse" data-target="#mobile-menu-submenu-item-2"></button>
                        </li>
                       
                        
                            
                        
                        
                    </ul>
                    
                    <ul class="mobile-topnav container">
                        <li><a href="">MY ACCOUNT</a></li>
                        <li class="ribbon language menu-color-skin">
                            <a href="" data-toggle="collapse">ENGLISH</a>
                            <ul class="menu mini" style="">
                            </ul>
                        </li>
                        <li><a href="travelo-login" class="soap-popupbox">LOGIN</a></li>
                        <li><a href="travelo-signup" class="soap-popupbox">SIGNUP</a></li>
                        <li class="ribbon currency menu-color-skin">
                            <a href="">USD</a>
                            <ul class="menu mini" style="">
                            </ul>
                        </li>
                    </ul>
                    
                </nav>
				
				
            </div>
            <div id="travelo-signup" class="travelo-signup-box travelo-box">
                <div class="login-social">
                    <a href="" class="button login-facebook"><i class="soap-icon-facebook"></i>Login with Facebook</a>
                    <a href="" class="button login-googleplus"><i class="soap-icon-googleplus"></i>Login with Google+</a>
                </div>
                <div class="seperator"><label>OR</label></div>
                <div class="simple-signup">
                    <div class="text-center signup-email-section">
                        <a href="http://www.soaptheme.net/html/travelo/dashboard1.html#" class="signup-email"><i class="soap-icon-letter"></i>Sign up with Email</a>
                    </div>
                    <p class="description">By signing up, I agree to Travelo's Terms of Service, Privacy Policy, Guest Refund olicy, and Host Guarantee Terms.</p>
                </div>
                <div class="email-signup">
                    <form>
                        <div class="form-group">
                            <input type="text" class="input-text full-width" placeholder="first name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="input-text full-width" placeholder="last name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="input-text full-width" placeholder="email address">
                        </div>
                        <div class="form-group">
                            <input type="password" class="input-text full-width" placeholder="password">
                        </div>
                        <div class="form-group">
                            <input type="password" class="input-text full-width" placeholder="confirm password">
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Tell me about Travelo news
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="description">By signing up, I agree to Travelo's Terms of Service, Privacy Policy, Guest Refund Policy, and Host Guarantee Terms.</p>
                        </div>
                        <button type="submit" class="full-width btn-medium">SIGNUP</button>
                    </form>
                </div>
                <div class="seperator"></div>
                <p>Already a Travelo member? <a href="http://www.soaptheme.net/html/travelo/dashboard1.html#travelo-login" class="goto-login soap-popupbox">Login</a></p>
            </div>
            <div id="travelo-login" class="travelo-login-box travelo-box">
                <div class="login-social">
                    <a href="http://www.soaptheme.net/html/travelo/dashboard1.html#" class="button login-facebook"><i class="soap-icon-facebook"></i>Login with Facebook</a>
                    <a href="http://www.soaptheme.net/html/travelo/dashboard1.html#" class="button login-googleplus"><i class="soap-icon-googleplus"></i>Login with Google+</a>
                </div>
                <div class="seperator"><label>OR</label></div>
                <form>
                    <div class="form-group">
                        <input type="text" class="input-text full-width" placeholder="email address">
                    </div>
                    <div class="form-group">
                        <input type="password" class="input-text full-width" placeholder="password">
                    </div>
                    <div class="form-group">
                        <a href="http://www.soaptheme.net/html/travelo/dashboard1.html#" class="forgot-password pull-right">Forgot password?</a>
                        <div class="checkbox checkbox-inline">
                            <label>
                                <input type="checkbox"> Remember me
                            </label>
                        </div>
                    </div>
                </form>
                <div class="seperator"></div>
                <p>Don't have an account? <a href="http://www.soaptheme.net/html/travelo/dashboard1.html#travelo-signup" class="goto-signup soap-popupbox">Sign up</a></p>
            </div>
        </header>

        <div class="page-title-container">
            <div class="container">
                <div class="page-title pull-left">
                    <h2 class="entry-title">Partners Registration </h2>
                </div>
                <ul class="breadcrumbs pull-right">
                    <li><a href="">HOME</a></li>
                    <li><a href="">THE TRAVEL SQAURE</a></li>
                    <li class="active">Partners LTA</li>
                </ul>
            </div>
        </div>

        <section id="content">
            <div class="container">
			
			
			
                <div class="row">
                    <div id="main" class="col-sm-8 col-md-9">
					
					
					
                        <div class="travelo-box booking-section">
                            <form class="booking-form">
                                <div class="person-information">
                                    <h2>Section A : Personal Details</h2>
									<p><a href=""><span class="skin-color">Personal Data Storage Policy | We are Data Protection Law Approved |</span></a> The Personal Data in Any Terms Will Not Be Misused or Publicised .</p>
                                  
                                    <div class="form-group row">
                                        <div class="col-sm-6 col-md-5">
                                            <label>First Name</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="">
                                        </div>
                                        <div class="col-sm-6 col-md-5">
                                            <label>Last Name	</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xs-12 col-md-5 constant-column-3">
                                            <div>
                                                <label>Date of Birth</label>
                                                <div class="selector">
                                                    <select class="full-width">
                                                        <option>Date</option>
                                                    </select><span class="custom-select full-width">Date</span>
                                                </div>
                                            </div>
                                            <div>
                                                <label>Month</label>
                                                <div class="selector">
                                                    <select class="full-width">
                                                        <option>02</option>
                                                    </select><span class="custom-select full-width">Jan</span>
                                                </div>
                                            </div>
                                            <div>
                                                <label>Year</label>
                                                <div class="selector">
                                                    <select class="full-width">
                                                        <option>01</option>
                                                    </select><span class="custom-select full-width">1970</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-5">
                                            <label>Gender</label>
                                            <div class="selector">
                                                <select class="full-width">
                                                    <option>Male</option>
                                                    <option>Female</option>
                                                    <option>Unspecified</option>
                                                </select><span class="custom-select full-width"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 col-md-5">
                                            <label>Select Country</label>
                                            <div class="selector">
                                                <select class="full-width">
                                                    <option>India</option>
                                                    <option>United Kingdom</option>
                                                    <option>United State</option>
                                                </select><span class="custom-select full-width">United Kingdom (+44)</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-5">
                                            <label>Resedential State</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="">
                                        </div>
                                    </div>
									<div class="form-group row">
                                        <div class="col-sm-6 col-md-5">
                                            <label>Home Address</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="">
                                        </div>
                                        <div class="col-sm-6 col-md-5">
                                            <label>Nearest Landmark</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="">
                                        </div>
                                    </div>
									<div class="form-group row">
                                        <div class="col-sm-6 col-md-5">
                                            <label>E-mail Address</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="">
                                        </div>
                                        <div class="col-sm-6 col-md-5">
                                            <label>Contact Number</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="">
                                        </div>
                                    </div>
									<div class="form-group row">
                                        <div class="col-sm-6 col-md-5">
                                            <label>Refferal Person</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="">
                                        </div>
                                        <div class="col-sm-6 col-md-5">
                                            <label>Refferal ID</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="">
                                        </div>
                                    </div>
									
                                        <a href="" class="button btn-medium sky-blue1 uppercase">Submit Personal Details</a>
                                </div>
                                <hr>
                                <div class="group-details">
                                    <h2>Business Enterprise Details</h2>
									<p>The Enterprise Data in Any Terms Will Not Be Misused or Publicised, Don't Worry It is Safe With Us .</p>
									<div class="form-group row">
										<div class="col-sm-6 col-md-5">
                                            <label>Name of Enterprise</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="">
                                        </div>
                                        <div class="col-sm-6 col-md-5">
                                            <label>Category of Enterprise</label>
                                            <div class="selector">
                                                <select class="full-width">
                                                    <option>Buses</option>
                                                    <option>Hotel Vendor</option>
                                                    <option>Cabs</option>
                                                </select><span class="custom-select full-width">Hotel Partner</span>
                                            </div>
                                        </div>
                                        
                                    </div>
									<div class="form-group row">
										<div class="col-sm-6 col-md-5">
                                            <label>Type of Firm Registered</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="">
                                        </div>
                                        <div class="col-sm-6 col-md-5">
                                            <label>State</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="">
                                        </div>
                                        
                                    </div>
									<div class="form-group row">
										<div class="col-sm-6 col-md-5">
                                            <label>City/Town</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="">
                                        </div>
                                        <div class="col-sm-6 col-md-5">
                                            <label>Office Address</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="">
                                        </div>
                                       
                                    </div>
       
                                    <div class="form-group row">
                                        <div class="col-sm-6 col-md-5">
                                            <label>Annual Turn Over</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="">
                                        </div>
                                        <div class="col-sm-6 col-md-5">
                                            <label>GST Number</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="">
                                        </div>
                                    </div>
									<div class="form-group row">
                                        <div class="col-sm-6 col-md-5">
                                            <label>Office Contact Number</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="">
                                        </div>
                                        <div class="col-sm-6 col-md-5">
                                            <label>Office Mail ID</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="">
                                        </div>
                                    </div>
									<div class="form-group row">
                                        <div class="col-sm-6 col-md-5">
                                            <label>Website</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="">
                                        </div>
										<div class="col-sm-6 col-md-5">
                                            <label>Upload Company Logo </label>
                                            <input type="text" class="input-text full-width" value="" placeholder="">
                                        </div>
                                    </div>
									<a href="" class="button btn-medium sky-blue1 uppercase">Submit Enterprise Details</a>
                                </div>
                                <hr>
                                <div class="booking-type">
                                    <h2>Document Upload for Travel Beans Lisence</h2>
									<p><a href=""><span class="skin-color">Need for Documents !</span></a> Documents Will Be Used to Generating Public Travel Beans Lisence & For Verification</p>
                                    
                                    <div class="form-group row">
                                        <div class="col-sm-6 col-md-5">
                                            <label>Company PAN Card No.</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="">
                                        </div>
                                        <div class="col-sm-6 col-md-5">
                                            <label>Owners Aadhaar Card No.</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="">
                                        </div>
                                    </div>
									<div class="form-group row">
                                        <div class="col-sm-6 col-md-5">
                                            <label>Office Electricity Bill</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="">
                                        </div>
                                        <div class="col-xs-12 col-md-5 constant-column-3">
                                            <div>
                                                <label>Office Photos Upload (atleast 2 Images Each)</label>
                                                                                           </div>
                                            <div>
                                                <label>Interior</label>
                                                <div class="selector">
                                                    <select class="full-width">
                                                        <option>02</option>
                                                    </select><span class="custom-select full-width">02</span>
                                                </div>
                                            </div>
                                            <div>
                                                <label>Exterior</label>
                                                <div class="selector">
                                                    <select class="full-width">
                                                        <option>01</option>
                                                    </select><span class="custom-select full-width">01</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
									<a href="" class="button btn-medium sky-blue1 uppercase">Upload Documents</a>
                                </div>
                                <hr>
                                <div class="booking-hotel">
                                    <h2>Bank Details For Commision</h2>
									<p><a href=""><span class="skin-color">Why Bank Details ?</span></a> The Commision of Every Enterprise Will Be Automatically Sent to The Account Registered .</p>
                                    <div class="form-group row">
                                        <div class="col-sm-6 col-md-5">
                                            <label>Bank Name</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="Enter Bank Name">
                                        </div>
                                        <div class="col-sm-6 col-md-5">
                                            <label>Account Holder Name</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="XXXX">
                                        </div>
                                    </div>
									<div class="form-group row">
                                        <div class="col-sm-6 col-md-5">
                                            <label>Bank IFSC Code</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="XXXX">
                                        </div>
										<div class="col-sm-6 col-md-5">
                                            <label>Company Account Number</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="Enter Company / Individual Name">
                                        </div>
                                    </div>
                                </div>
                                
                                <hr>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> By Continuing , You Agree the Partner <a href=""><span class="skin-color">Terms and Conditions</span></a>.
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 col-md-5">
                                        <button type="submit" class="full-width btn-large">SUBMIT FORM</button>
                                    </div>
									<label>Your Details Will Be Verified Withing 24 Working Hours</label>
   
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="sidebar col-sm-4 col-md-3">
                        <div class="travelo-box contact-box">
                            <center><h4>Need Some Help ?</h4>
                            <p>Our Travel Sqaure Executives Are Always Ready Help You 24/7 .</p>
                            <address class="contact-details">
                                <span class="contact-phone">+91-9560001807</span><br>
                                <br>
                                <a class="contact-email" href="">partnerhelp@travelsqaure.com</a>
                            </address></center>
                        </div>
						<div class="travelo-box book-with-us-box">
                            <center><h4>Why Join Us ?</h4></center>
                            <ul>
                                <li>
                                    <i class="soap-icon-hotel-1 circle"></i>
                                    <h5 class="title"><a href="" class="skin-color">4,35,000+ Accomodations</a></h5>
                                    <p>We Gaurantee Best Supply Rates From Over 100+ Chains Of Hotels & Resorts .</p>
                                </li>
                                <li>
                                    <i class="soap-icon-savings circle"></i>
                                    <h5 class="title"><a href="http://www.soaptheme.net/html/travelo/extra-pages-group-booking.html#" class="skin-color">Lowest B2B Rates</a></h5>
                                    <p>We Gaurantee Lowest B2B Rates For You to Create More Margins & Profits .</p>
                                </li>
                                <li>
                                    <i class="soap-icon-support circle"></i>
                                    <h5 class="title"><a href="http://www.soaptheme.net/html/travelo/extra-pages-group-booking.html#" class="skin-color">24/7 Leads</a></h5>
                                    <p>We Gaurantee 24/7 Targeted Leads From the Travel Market For You .</p>
                                </li>
                            </ul>
                        </div>
                        <div class="travelo-box">
                            <center><h4 class="box-title">Our Partners & Suppliers</h4></center><br>
                            <div class="image-box style14">
                                <article class="box">
                                    <figure><a href="" title=""><img width="63" height="59" src="./Partners Screening Form_files/booking1.png" alt=""></a></figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="">The Leela Ambience</a></h5>
                                    </div>
                                </article>
                                <article class="box">
                                    <figure><a href="" title=""><img width="63" height="59" src="./Partners Screening Form_files/booking2.png" alt=""></a></figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="">OYO Rooms</a></h5>
                                    </div>
                                </article>
								<article class="box">
                                    <figure><a href="" title=""><img width="63" height="59" src="./Partners Screening Form_files/booking2.png" alt=""></a></figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="">Club Mahindra</a></h5>
                                    </div>
                                </article>
								                                <article class="box">
                                    <figure><a href="" title=""><img width="63" height="59" src="./Partners Screening Form_files/booking2.png" alt=""></a></figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="">CHIS</a></h5>
                                    </div>
                                </article>
                                <article class="box">
                                    <figure><a href="" title=""><img width="63" height="59" src="./Partners Screening Form_files/booking3.png" alt=""></a></figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="">Trav Clan</a></h5>
                                    </div>
                                </article>
								<article class="box">
                                    <figure><a href="" title=""><img width="63" height="59" src="./Partners Screening Form_files/booking2.png" alt=""></a></figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="">Park Plaza</a></h5>
                                    </div>
                                </article>
								<article class="box">
                                    <figure><a href="" title=""><img width="63" height="59" src="./Partners Screening Form_files/booking2.png" alt=""></a></figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="">Sterling</a></h5>
                                    </div>
                                </article>
								                                <article class="box">
                                    <figure><a href="" title=""><img width="63" height="59" src="./Partners Screening Form_files/booking2.png" alt=""></a></figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="">Cox & Kings</a></h5>
                                    </div>
                                </article>
                                <article class="box">
                                    <figure><a href="" title=""><img width="63" height="59" src="./Partners Screening Form_files/booking3.png" alt=""></a></figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="">ITC Hotels</a></h5>
                                    </div>
                                </article>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
        
         <footer id="footer" class="style5">
            <div class="footer-wrapper">
                <div class="container">
                    <div class="row">
                       <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <h2>The Travel Square</h2>
                            <ul class="discover triangle hover row">
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/about">About Company</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/jobs.html">Jobs & Carreers</a></li>
								<li class="col-xs-6"><a href="http://www.thetravelsquare.in/about">Corporate Offices</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/legal.html">Legal Information</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/press.html">Press Release</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/legal.html">T & C</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/customer-care.html">Customer Care</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/legal.html">Privacy Policies</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/partner-Care.html">Partner Help</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/faq.html">FAQ's</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/site-map.html">Site Map</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/contact-Us.html">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <h2>Our Products</h2>
                            <ul class="discover triangle hover row">
                                <li class="col-xs-"><a href="http://www.thetravelsquare.in/pro">Travel Square Business</a></li>
                                <li class="col-xs-"><a href="http://www.signatureclubmembership.com/">Signature Club</a></li>
                                <li class="col-xs-"><a href="http://www.cruisader.com/">Cruisader</a></li>
                                <li class="col-xs-"><a href="http://www.cruisingindia.in/">Cruising India</a></li>
                                <li class="col-xs-"><a href="http://www.happenings.ind.in/">Happenings</a></li>
                                <li class="col-xs-"><a href="http://www.shoppist.in/">Shoppist</a></li>
                                
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <img src="images/The-Travel-Square-Logo.png">
                            <br>
                            
                            <br>
                            
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <h2>About Us</h2>
                            <p>The Travel Square is a Network of 10000+ Travel Suppliers , DMC & Hotel Chains Inspiring the World to Travel In Style With Luxury at Affordabe Pricing . </p>
                            <br>
                            <ul class="social-icons clearfix">
                                <li class="twitter"><a title="Join Us on Twitter" href="https://twitter.com/travelsquare_" data-toggle="tooltip"  Target="_blank" data-original-title="twitter"><i class="soap-icon-twitter"></i></a></li>
                                <li class="facebook"><a title="Join Us on Facebook" href="https://www.facebook.com/thetravelsquare/" Target="_blank" data-toggle="tooltip" data-original-title="facebook"><i class="soap-icon-facebook"></i></a></li>
                                <li class="linkedin"><a title="Join Us on Linked In" href="https://www.linkedin.com/company/thetravelsquare" Target="_blank" data-toggle="tooltip" data-original-title="linkedin"><i class="soap-icon-linkedin"></i></a></li>
                                <li class="vimeo"><a title="Join Us on Instagram" href="https://www.instagram.com/The_Travel_Square/" data-toggle="tooltip" Target="_blank" data-original-title="vimeo"><i class="soap-icon-instagram"></i></a></li>
                                <li class="dribble"><a title="Join Us on Youtube" href="https://www.youtube.com/channel/UChlFqPqGQXw06M8ZUn4NsrQ" Target="_blank" data-toggle="tooltip" data-original-title="dribble"><i class="soap-icon-youtube"></i></a></li>
 
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom gray-area">
                <div class="container">
                    
                    <div class="pull-right">
                        <a id="back-to-top" href="" class="animated bounce" data-animation-type="bounce" style="animation-duration: 1s; visibility: visible;"><i class="soap-icon-longarrow-up circle"></i></a>
                    </div>
                    <div class="copyright pull-right">
                        <p>© 2019 The Travel Square</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
	


    <!-- Javascript -->
    <script type="text/javascript" src="./Partners Screening Form_files/jquery-1.11.1.min.js.download"></script>
    <script type="text/javascript" src="./Partners Screening Form_files/jquery.noconflict.js.download"></script>
    <script type="text/javascript" src="./Partners Screening Form_files/modernizr.2.7.1.min.js.download"></script>
    <script type="text/javascript" src="./Partners Screening Form_files/jquery-migrate-1.2.1.min.js.download"></script>
    <script type="text/javascript" src="./Partners Screening Form_files/jquery.placeholder.js.download"></script>
    <script type="text/javascript" src="./Partners Screening Form_files/jquery-ui.1.10.4.min.js.download"></script>
    
    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="./Partners Screening Form_files/bootstrap.js.download"></script>
    
    <!-- parallax -->
    <script type="text/javascript" src="./Partners Screening Form_files/jquery.stellar.min.js.download"></script>
    
    <!-- waypoint -->
    <script type="text/javascript" src="./Partners Screening Form_files/waypoints.min.js.download"></script>

    <!-- load page Javascript -->
    <script type="text/javascript" src="./Partners Screening Form_files/theme-scripts.js.download"></script>
    <script type="text/javascript" src="./Partners Screening Form_files/scripts.js.download"></script>
    

</body></html>