<!DOCTYPE html>

<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>Thank You For Booking | The Travel Square</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Bootstrap Core CSS -->
<link href="./accounts-login_files/bootstrap.min.css" rel="stylesheet" type="text/css">
<!-- Custom CSS -->
<link href="./accounts-login_files/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="./accounts-login_files/morris.css" type="text/css">
<!-- Graph CSS -->
<link href="./accounts-login_files/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="./accounts-login_files/jquery-ui.css"> 
<!-- jQuery -->
<script src="./accounts-login_files/jquery-2.1.4.min.js.download"></script>
<!-- //jQuery -->
<!-- lined-icons -->
<link rel="stylesheet" href="./accounts-login_files/icon-font.min.css" type="text/css">
<!-- //lined-icons -->
</head> 
<body>
	<div class="main-wthree" style="background:white">
	<div class="container">
	
	<div class="sin-w3-agile"><br>
	<center><img src="images/Travel-Square-By-Travel-Beans-Small-Logo.png" width="40%" ></center><br><br>
		<h2><font color="black">Thank You For Booking With Us !</font></h2>
		<center><p><small>Your Confirmation Voucher Has Been Sent to Your Account</p>
		<center><p><small>Redirecting you to the booking panel ........</p>
		
	


	</div>
	</div>
	</div>

</body></html>